@import "tailwindcss";
@config "../tailwind.config.js";

html {
  scroll-behavior: smooth;
}

body {
  @apply font-sans;
}

@utility animate-delay-100 {
  animation-delay: 100ms;
}
@utility animate-delay-200 {
  animation-delay: 200ms;
}
@utility animate-delay-300 {
  animation-delay: 300ms;
}
@utility animate-delay-400 {
  animation-delay: 400ms;
}
@utility animate-delay-500 {
  animation-delay: 500ms;
}
@utility animate-delay-600 {
  animation-delay: 600ms;
}
